<div class="container">
  <h1 align="center" style="color:#5ED85E">Be Healthy, wealthy and wise!</h1>
    <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
      <br>
      <p align="center" style="color:#337AB7">Sign In</p>
      <div class="container" style="color:#337AB7">
        <!--<form role="form">-->
          <!--<div class="form-group">-->
            <!--<label for="email">Email:</label>-->
            <!--<input type="email" class="form-control" id="email" placeholder="Enter email" style="width: 25%">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label for="pwd">Password:</label>-->
            <!--<input type="password" class="form-control" id="pwd" placeholder="Enter password" style="width: 25%">-->
          <!--</div>-->
          <!--<div class="checkbox">-->
            <!--<label><input type="checkbox"> Remember me</label>-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-default" style="color:#337AB7">Enter</button>-->
        <!--</form>-->
        <% if user_signed_in? %>
          <p>Hi, <%= @user.email %></p>
          <%= link_to 'Log Out', destroy_user_session_path, :method => :delete  %>
        <% else %>
          <%= form_for(@user, url: session_path(@user), html: {id: 'signin-form'}) do |f| %>
            <div class="form-group" style="width: 25%">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group" style="width: 25%">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
                <div class="form-group">
                  <%= f.check_box :remember_me, class: "checkbox" %>
                  <%= f.label :remember_me %>
                </div>
                <%= f.submit "Log in" %>
          <% end %>
        <% end %>
          </div>
      <br>

      <p align="center" style="color:#337AB7"><a href=#>Not Singed Up yet? Sign Up Now!</a></p>
      <br>

    </div>
    <div class="col-sm-8" style="background-color:lavenderblush; color:#337AB7">
      <p>
      <h4>
        Here we consider the calorie and nutritional value (protein, fat and carbohydrates) of food eaten within a certain
        period - day, week, month e.c.<br><br>
        In fact, we are in a diary and make corrections in the diet in order to achieve certain goals.<br><br>
        The aim of the project is the organization of a healthy diet and weight control.<br><br>
      </h4>
      </p>
    </div>
  </div>
</div>





