<div class="container" xmlns="http://www.w3.org/1999/html">

  <h2 align="center" style="color:#5ED85E">Resend unlock instructions</h2>

  <div class="row" style="color:#337AB7">
    <div class="col-sm-12" align="center" style="background-color:lavender;">
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post}) do |f| %>
          <%= devise_error_messages! %>

          <div class="field" style="color:#337AB7">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="actions" style="color:#337AB7">
            <%= f.submit "Resend unlock instructions" %>
          </div>
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </div>

</div>