<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" align="center" style="background-color:lavender;">

        <%= link_to image_tag('eatcalc_header.png', alt: "Rails"), root_path %>
      </div>
      <div class="pull-right">
        <div class="col-sm-12" align="center">
          <nav>
            <ul class="nav nav-pills" role="tablist">
              <li class="active"><%= link_to "Home", root_path %></li>
              <li><%= link_to "EatLog", '#' %></li>
              <li><%= link_to "Analysis", '#' %></li>
              <li><%= link_to "ReadyMealsCalc", '#' %></li>
              <li><%= link_to "Blogs&Info", articles_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

