<div class="container" xmlns="http://www.w3.org/1999/html">

  <h2 align="center" style="color:#5ED85E">Sign up</h2>

  <div class="row">
    <div class="col-sm-12" align="center" style="background-color:lavender;">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field" style="color:#337AB7">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field" style="color:#337AB7">
            <%= f.label :password %>
            <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field" style="color:#337AB7">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="field" style="color:#337AB7">
            <%= f.label :height %><br/>
            <%= f.number_field :height, :min => 100, :max => 220, :step => 1, :placeholder => 'in cm', autocomplete: "off" %>
          </div>

          <div class="field" style="color:#337AB7">
            <%= f.label :weight %><br/>
            <%= f.number_field :weight, :min => 40, :max => 220, :step => 1, :placeholder => 'in kg', autocomplete: "off" %>
          </div>

          <div class="field" style="color:#337AB7">
            <%= f.label :gender %><br/>
            <%= f.select :gender, [ 'Male', 'Fimale' ], :prompt => 'Select One' %>
          </div>

          <div class="field" style="color:#337AB7">
            <%= f.label :age %><br/>
            <%= f.number_field :age, :min => 15, :max => 70, :step => 1, :placeholder => 'full years',  autocomplete: "off" %>
          </div>

          <div class="field" style="color:#337AB7">
            <%= f.label :lifestyle %><br/>
            <%= f.select :lifestyle, User::ACTIVITIES, :prompt => 'Select One' %>
          </div>
          </br>

          <div class="actions" style="color:#337AB7">
            <%= f.submit "Sign up" %>
          </div>
          </br>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>